:root {
  --primary-font: "Barlow", "Verdana", sans-serif;
  --secondary-font: "Fraunces", "Cambria", sans-serif;
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --gray-color: hsl(0, 0%, 50%);
  --contact-hover-color: hsla(197, 96%, 70%, 1);
  --mobile-contact-color: hsla(51, 99%, 49%, 1);
  --text-color: hsl(232, 10%, 55%);
  --soft-yellow-color: hsla(56, 83%, 86%, 1);
  --yellow-color: hsla(52, 97%, 51%, 1);
  --light-red-color: hsla(9, 96%, 91%, 1);
  --soft-red-color: hsl(7, 99%, 70%);
  --very-dark-desatureted-blue: hsl(212, 27%, 19%);
  --header-color: hsla(200, 100%, 62%, 1);
  --desatureted-cyan-color: hsl(167, 40%, 24%);
  --dark-blue-color: hsl(198, 62%, 26%);
  --background-color: hsla(26, 100%, 99%, 1);
  --testimonials-title-color: hsl(0, 2%, 74%);
  --testimonials-text-color: hsl(0, 1%, 37%);
  --job-title-color: hsla(0, 0%, 70%, 1);
  --footer-color: hsla(167, 44%, 70%, 1);
  --dark-moderate-cyan-color: hsl(168, 34%, 41%);
}

html,
body {
  height: auto;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

.header,
.header__nav,
.advantages__link,
.advantages__card {
  position: relative;
}

.mobile-menu, 
.mobile-menu__triangle,
.advantages__link::after,
.advantages__card-description {
  position: absolute;
}

.nav__burger-btn,
.mobile-menu {
  display: none;
}

.nav__link,
.advantages__link {
  display: block;
}

.advantages__row,
.product-gallery {
  display: flex;
}

.mobile-menu__list, 
.advantages__card-description,
.testimonials__item,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title,
.advantages__card,
.testimonials__title,
.testimonials__list {
  display: flex;
  justify-content: center;
}

.header,
.header__logo,
.header__nav,
.nav__list,
.footer,
.footer__services-list,
.footer__social-media-list {
  display: flex;
  align-items: center;
}

.header,
.header__nav {
  justify-content: space-between;
}

.advantages__image,
.advantages__description,
.advantages__card {
  width: 50%;
}

.mobile-menu,
.advantages__row {
  width: 100%;
}

html,
body,
.hero__title,
.advantages__title,
.advantages__card-text,
.testimonials__text,
.testimonials__job {
  margin: 0;
}

.nav__list,
.mobile-menu__list,
.testimonials__list,
.footer__services-list,
.footer__social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonials__list,
.testimonials__item {
  gap: 3.125rem;
}

.mobile-menu,
.advantages__description,
.advantages__card-description,
.footer__services-list {
  box-sizing: border-box;
}

.testimonials__title,
.testimonials__name {
  font-family: var(--secondary-font);
}

.advantages__card:first-child .advantages__card-title,
.advantages__card:last-child .advantages__card-title {
  font-size: 2rem;
  font-weight: 900;
}

.advantages__title,
.advantages__link {
  font-family: var(--secondary-font);
  color: var(--very-dark-desatureted-blue);
}

.nav__link,
.mobile-menu__link,
.advantages__link,
.footer__services-link {
  text-decoration: none;
}

.nav__link--contact,
.mobile-menu__link--contact,
.hero__title,
.advantages__link,
.testimonials__title {
  text-transform: uppercase;
}

.hero,
.advantages__card-description,
.testimonials__item {
  text-align: center;
}

.nav__link--contact,
.mobile-menu__link--contact {
  padding: 1.25rem 1.875rem;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--black-color);
  border-radius: 2rem;
  transition: 0.3s ease;
}

.header {
  padding: 1.875rem 3.125rem 0;
  background-color: var(--header-color);
}

.nav__list {
  right: 0;
  gap: 2.5rem;
}

.nav__link {
  font-size: 1.125rem;
  color: var(--white-color);
}

.nav__link--contact {
  color: var(--black-color);
  background-color: var(--white-color);
}

.nav__link--contact:hover {
  color: var(--white-color);
  background-color: var(--contact-hover-color);
}

.mobile-menu {
  top: 7.5rem;
  right: 0;
  padding: 0 1.5625rem;
  z-index: 2;
}

.mobile-menu__triangle {
  top: -1.875rem;
  right: 1.5625rem;
  width: 0;
  height: 0;
  border-bottom: 1.875rem solid var(--white-color);
  border-left: 1.875rem solid transparent;
}

.mobile-menu__list {
  background-color: var(--white-color);
}

.mobile-menu__item {
  padding: .9375rem 0;
}

.mobile-menu__item:first-child {
  padding-top: 1.875rem;
}

.mobile-menu__item:last-child {
  padding: 2.5rem 0 3.125rem 0;
}

.mobile-menu__link:not(.mobile-menu__link--contact) {
  color: var(--gray-color);
}

.mobile-menu__link--contact {
  background-color: var(--mobile-contact-color);
}

.hero {
  height: 40.625rem;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
}

.hero__title {
  padding: 6.25rem 0 4.625rem 0;
  font: 900 3rem "Fraunces";
  letter-spacing: .625rem;
  color: var(--white-color);
}

.advantages__row:first-child .advantages__image {
  order: 1;
}

.advantages__description {
  padding: 0 7.5rem;
}

.advantages__title {
  font-size: 2.5rem;
  font-weight: 900;
}

.advantages__text {
  margin: 2.5rem 0 1.875rem 0;
  line-height: 1.6rem;
  color: var(--text-color);
}

.advantages__link {
  width: fit-content;
  font-weight: 900;
  letter-spacing: .0625rem;
}

.advantages__link::after {
  content: "";
  bottom: -0.1875rem;
  right: -0.375rem;
  width: 113%;
  height: .625rem;
  border-radius: .3125rem;
  transition: 0.3s ease;
  z-index: -1;
}

.advantages__row:first-child .advantages__link::after {
  background-color: var(--soft-yellow-color);
}

.advantages__row:first-child .advantages__link:hover::after {
  background-color: var(--yellow-color);
}

.advantages__row:nth-child(2) .advantages__link::after {
  background-color: var(--light-red-color);
}

.advantages__row:nth-child(2) .advantages__link:hover::after {
  background-color: var(--soft-red-color);
}

.advantages__card {
  height: 37.5rem;
  background-size: cover;
  background-position: center;
}

.advantages__card:first-child {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.advantages__card:last-child {
  background-image: url("./images/desktop/image-photography.jpg");
}

.advantages__card-description {
  top: 21.875rem;
  width: 22rem;
  z-index: 2;
}

.advantages__card-title {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

.advantages__card:first-child .advantages__card-title {
  color: var(--desatureted-cyan-color);
}

.advantages__card:last-child .advantages__card-title {
  color: var(--dark-blue-color);
}

.advantages__card-text {
  line-height: 1.7rem;
}

.advantages__card:first-child .advantages__card-text {
  color: var(--desatureted-cyan-color);
}

.advantages__card:last-child .advantages__card-text {
  color: var(--dark-blue-color);
}

.testimonials {
  padding: 10.625rem 0;
  background-color: var(--background-color);
}

.testimonials__title {
  margin: 0 0 6.25rem 0;
  letter-spacing: .4375rem;
  color: var(--testimonials-title-color);
}

.testimonials__item {
  width: 19.5rem;
}

.testimonials__image {
  width: 5rem;
  border-radius: 5rem;
}

.testimonials__text {
  line-height: 1.7rem;
  color: var(--testimonials-text-color);
}

.testimonials__name {
  margin: 0 0 .625rem 0;
  color: var(--very-dark-desatureted-blue);
}

.testimonials__job {
  font-size: .8125rem;
  color: var(--job-title-color);
}

.product-gallery__image {
  width: 25%;
}

.footer {
  padding: 3.75rem 0;
  background-color: var(--footer-color);
}

.footer__logo {
  width: 9.375rem;
}

.footer__services-list {
  padding: 2.5rem 0 5rem 0;
  gap: 3.75rem;
}

.footer__services-link {
  color: var(--dark-moderate-cyan-color);
}

.footer__services-link:hover {
  color: var(--white-color);
}

.footer__social-media-list {
  gap: 1.25rem;
}

.footer__image:hover {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 2000px) {
  .hero {
    height: 50rem;
    background-position: 0 56.25rem;
  }

  .advantages__description {
    padding: 0 18.75rem;
  }

  .advantages__text {
    width: 70%;
  }

  .advantages__card {
    height: 62.5rem;
  }

  .advantages__card-description {
    top: 43.75rem;
  }

  .testimonials__list {
    gap: 12.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .advantages__description {
    padding: 3.125rem 6.25rem;
  }

  .advantages__title {
    font-size: 1.6rem;
  }

  .advantages__text {
    font-size: 1rem;
  }

  .advantages__link {
    font-size: .875rem;
  }

  .advantages__card {
    height: 34.375rem;
  }

  .advantages__card-description {
    top: 18.75rem;
    width: 21rem;
  }

  .advantages__card-title {
    font-size: 1.5rem;
  }

  .advantages__card-text {
    margin: 0;
  }

  .testimonials__list {
    gap: 0;
  }

  .testimonials__text {
    width: 16rem;
    font-size: .9375rem;
  }
}

@media screen and (max-width: 768px) {
  .advantages__row,
  .advantages__description,
  .testimonials__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__card,
  .advantages__image {
    width: 100%;
  }

  .header {
    padding: 2.1875rem 1.5625rem 0;
  }

  .header__nav {
    margin: 0;
    padding: 0;
  }

  .nav__burger-btn {
    display: block;
    padding: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    background: url("./images/icon-hamburger.svg") center no-repeat transparent;
    border: none;
    cursor: pointer;
  }

  .nav__list {
    display: none;
  }

  .hero {
    height: 29.375rem;
  }

  .hero__title {
    padding: 5rem 0 3.125rem 0;
    font-size: 2.2rem;
  }

  .advantages__image {
    order: -1;
  }

  .advantages__row:first-child .advantages__image {
    order: 0;
  }

  .advantages__description {
    width: 80%;
    padding: 4.375rem 0;
    text-align: center;
  }

  .advantages__title {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .advantages__text {
    width: 17.9375rem;
    margin: 1.25rem 0 1.875rem;
    font-size: 1rem;
  }

  .advantages__description:last-child .advantages__text {
    box-sizing: border-box;
  }

  .advantages__card {
    height: 31.25rem;
  }

  .advantages__card-description {
    bottom: 5rem;
    width: 20.125rem;
  }

  .advantages__card-text {
    margin: 0;
    font-size: .9375rem;
  }

  .testimonials {
    padding: 3.75rem 0;
  }

  .testimonials__title {
    margin: 0 0 3.125rem;
    font-size: .8125rem;
  }

  .testimonials__list {
    gap: 4.375rem;
  }

  .testimonials__item {
    width: 17.25rem;
    margin: auto;
    gap: 1.875rem;
  }

  .testimonials__text {
    margin: 0;
  }

  .product-gallery {
    flex-wrap: wrap;
  }

  .product-gallery__image {
    width: 50%;
  }
}
