html,
body {
  margin: 0;
  height: auto;
  overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0;
  background-color: rgba(61, 190, 255, 255);
  box-sizing: content-box;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  text-align: center;
  height: 650px;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
}

main h1 {
  text-transform: uppercase;
  font-family: "Fraunces";
  font-size: 3em;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  margin: 0;
  padding: 100px 0 74px 0;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-links li:first-child {
  padding-left: 0;
}

.nav-links li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Barlow";
}

.nav-links li .contact-btn {
  font-family: "Fraunces";
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 20px 30px;
  border-radius: 2em;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav-links li .contact-btn:hover {
  background-color: rgba(106, 210, 252, 255);
  color: white;
  transition: 0.3s ease;
}

.burger-btn {
  display: none;
  
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 120px;
  width: 100%;
  padding: 0 25px;
  z-index: 2;
  box-sizing: border-box;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  font-family: "Barlow";
}

.mobile-menu ul li {
  display: block;
  padding: 15px 0;
}

.mobile-menu a {
  text-decoration: none;
}

.mobile-menu ul li:first-child {
  padding-top: 30px;
}

.mobile-menu ul li:last-child {
  padding: 40px 0 50px 0;
}

.mobile-menu a:not(.contact-btn-mobile) {
  color: gray;
}

.contact-btn-mobile {
  font-family: "Fraunces";
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: rgba(251, 214, 1, 255);
  padding: 20px 30px;
  border-radius: 2em;
}

.triangle {
  position: inherit;
  right: 25px;
  top: -30px;
  width: 0;
  height: 0;
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
}

.row-wrapper {
  width: 100%;
  display: flex;
}

.description h1,
.description a {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces";
}

.description h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 900;
}

.description p {
  font-family: "Barlow";
  color: hsl(232, 10%, 55%);
  margin: 40px 0 30px 0;
  line-height: 1.6rem;
}

.description a {
  position: relative;
  display: block;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.learn-more-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -6px;
  width: 113%;
  height: 10px;
  border-radius: 5px;
  z-index: -1;
  transition: 0.3s ease;
}

.row-wrapper:first-child .learn-more-link::after {
  background-color: rgba(249, 245, 191, 255);
}

.row-wrapper:first-child .learn-more-link:hover::after {
  background-color: rgba(251, 217, 7, 255);
}

.row-wrapper:nth-child(2) .learn-more-link::after {
  background-color: rgba(254, 216, 209, 255);
}

.row-wrapper:nth-child(2) .learn-more-link:hover::after {
  background-color: rgba(250, 110, 93, 255);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px;
}

.advantages img {
  width: 50%;
}

.description {
  width: 100%;
}

.design-card {
  position: relative;
	display: flex;
	justify-content: center;
  width: 50%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.design-card:first-child {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.design-card:last-child {
  background-image: url("./images/desktop/image-photography.jpg");
}

.design-text {
	position: absolute;
	top: 350px;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
	width: 22rem;
  box-sizing: border-box;
  z-index: 2;
}

.design-text h2 {
  font-family: "Fraunces";
  font-size: 1.5em;
}

.design-text p {
  font-family: "Barlow";
  line-height: 1.6;
}

.design-card:first-child h2 {
  color: hsl(167, 40%, 24%);
  font-size: 2rem;
  font-weight: 900;
}

.design-card:last-child h2 {
  font-size: 2rem;
  color: hsl(198, 62%, 26%);
  font-weight: 900;
}

.design-card:first-child p {
	margin: 0;
  color: hsl(167, 40%, 24%);
}

.design-card:last-child p {
	margin: 0;
  color: hsl(198, 62%, 26%);
}

.client-testimonials {
  padding: 170px 0;
  background-color: rgba(255, 251, 248, 255);
}

.client-testimonials h3,
.client-testimonials h4 {
  font-family: "Fraunces";
}

.client-testimonials p,
.client-testimonials h6 {
  font-family: "Barlow";
}

.client-testimonials h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 100px 0;
  text-transform: uppercase;
  color: rgb(190, 188, 188);
  letter-spacing: 7px;
}

.client-testimonials p {
  color: rgb(95, 94, 94);
  line-height: 1.6;
  margin: 0;
}

.client-testimonials h4 {
  color: hsl(212, 27%, 19%);
  margin: 0 0 10px 0;
}

.client-testimonials h6 {
  font-size: 13px;
  color: rgba(178, 178, 178, 255);
  margin: 0;
}

.testimonials-cards {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
}

.testimonials-cards li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 19.5rem;
  text-align: center;
}

.testimonials-cards img {
  border-radius: 5em;
  width: 80px;
}

.product-gallery {
  display: flex;
}

.product-gallery img {
  width: 25%;
}

footer,
.services,
.social-icons {
  display: flex;
}

.services,
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background-color: rgba(144, 212, 197, 255);
}

.footer-logo {
  width: 150px;
}

.services {
  padding: 40px 0 80px 0px;
  gap: 60px;
  box-sizing: border-box;
}

.services a {
  text-decoration: none;
  font-family: "Barlow";
  color: hsl(168, 34%, 41%);
}

.services a:hover {
  color: #fff;
}

.social-icons {
  gap: 20px;
}

.social-icons img:hover {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 1024px) {

  .description {
    padding: 50px 100px;
  }

  .description h1 {
    font-size: 1.6em;
  }

  .description p {
    font-size: 16px;
  }

  .description a {
    font-size: 14px;
  }

  .design-card {
    height: 550px;
  }

  .design-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21rem;
  }

  .design-card:first-child h2,
  .design-card:last-child h2{
    font-size: 1.5rem;
  }

  .design-text p {
    margin: 0;
  }

  .client-testimonials p {
    font-size: 15px;
    width: 16rem;
  }

  .testimonials-cards {
    gap: 0
  }
  
}

@media screen and (max-width: 768px) {
  header {
    padding: 35px 0 0;
  }

  .header-logo {
    padding-left: 25px;
  }

  main {
    height: 470px;
  }

  main h1 {
    font-size: 2.2rem;
    padding: 80px 0 50px 0;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  .nav-links {
    display: none;
  }

  .burger-btn {
    display: block;
    padding-right: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .row-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages img {
    order: -1;
    width: 100%;
  }

  .description {
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    text-align: center;
    width: 80%;
  }

  .description h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .description p {
    margin: 20px 0 30px;
    font-size: 16px;
    width: 17.9375rem;
  }

  .description:last-child p {
    box-sizing: border-box;
  }

  .wrapper h1,
  .description a {
    margin: auto;
  }

  .design-card {
    width: 100%;
		height: 500px;
  }

  .design-card p {
    font-size: 15px;
    margin: 0;
  }

	.design-text {
		bottom: 120px;
		width: 20.125rem;
	}

  .client-testimonials {
    padding: 60px 0;
  }

  .client-testimonials h3 {
    font-size: 13px;
    margin: 0 0 50px;
  }

  .client-testimonials p {
    margin: 0;
  }

  ul.testimonials-cards {
    flex-direction: column;
    gap: 70px;
  }

  ul.testimonials-cards li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    width: 17.25rem;
  }

  .product-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .product-gallery img {
    width: 50%;
  }
}