:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --gray-color: hsl(0, 0%, 50%);
  --contact-hover-color: hsla(197, 96%, 70%, 1);
  --mobile-contact-color: hsla(51, 99%, 49%, 1);
  --text-color: hsl(232, 10%, 55%);
  --soft-yellow-color: hsla(56, 83%, 86%, 1);
}

html,
body {
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

.header,
.header__nav {
  position: relative;
}

.header,
.header__logo,
.header__nav,
.nav__list {
  display: flex;
  align-items: center;
}

.footer,
.footer__services-list,
.footer__social-media-list {
  display: flex;
}

.footer__services-list,
.footer__social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonials__title,
.testimonials__name {
  font-family: "Fraunces";
}

.testimonials__text,
.testimonials__job {
  font-family: "Barlow";
}

.advantages__description,
.advantages__link {
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
}

.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 0;
  background-color: rgba(61, 190, 255, 255);
  box-sizing: content-box;
}

.header__logo {
  justify-content: center;
}

.header__nav {
  justify-content: space-between;
}

.nav__burger-btn {
  display: none;
}

.nav__list {
  right: 0;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
  list-style-type: none;
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__link {
  display: block;
  font-size: 18px;
  font-family: "Barlow";
  text-decoration: none;
  color: var(--white-color);
}

.nav__link--contact {
  padding: 20px 30px;
  font-family: "Fraunces";
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 2rem;
  transition: 0.3s ease;
}

.nav__link--contact:hover {
  color: var(--white-color);
  background-color: var(--contact-hover-color);
  transition: 0.3s ease;
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 120px;
  right: 0;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 2;
}

.mobile-menu__triangle {
  position: inherit;
  top: -30px;
  right: 25px;
  width: 0;
  height: 0;
  border-bottom: 50px solid var(--white-color);
  border-left: 50px solid transparent;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  list-style-type: none;
  background-color: var(--white-color);
}

.mobile-menu__item {
  display: block;
  padding: 15px 0;
}

.mobile-menu__item:first-child {
  padding-top: 30px;
}

.mobile-menu__item:last-child {
  padding: 40px 0 50px 0;
}

.mobile-menu__link {
  text-decoration: none;
}

.mobile-menu__link:not(.mobile-menu__link--contact) {
  color: var(--gray-color);
}

.mobile-menu__link--contact {
  padding: 20px 30px;
  font-family: "Fraunces";
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--mobile-contact-color);
  border-radius: 2rem;
}

.hero {
  position: relative;
  height: 650px;
  text-align: center;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
}

.hero__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 100px 0 74px 0;
  font: 900 3rem "Fraunces";
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--white-color);
}

.advantages__row {
  display: flex;
  width: 100%;
}

.advantages__row:first-child .advantages__image {
  order: 1;
}

.advantages__image {
  width: 50%;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 120px;
  box-sizing: border-box;
}

.advantages__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 900;
}

.advantages__text {
  margin: 40px 0 30px 0;
  font-family: "Barlow";
  line-height: 1.6rem;
  color: var(--text-color);
}

.advantages__link {
  position: relative;
  display: block;
  width: fit-content;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.advantages__link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -6px;
  width: 113%;
  height: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
  z-index: -1;
}

.advantages__row:first-child .advantages__link::after {
  background-color: rgba(249, 245, 191, 255);
}

.advantages__row:first-child .advantages__link:hover::after {
  background-color: rgba(251, 217, 7, 255);
}

.advantages__row:nth-child(2) .advantages__link::after {
  background-color: rgba(254, 216, 209, 255);
}

.advantages__row:nth-child(2) .advantages__link:hover::after {
  background-color: rgba(250, 110, 93, 255);
}

.advantages__card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.advantages__card:first-child {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.advantages__card:last-child {
  background-image: url("./images/desktop/image-photography.jpg");
}

.advantages__card-description {
  position: absolute;
  top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 22rem;
  box-sizing: border-box;
  z-index: 2;
}

.advantages__card-title {
  font-size: 1.5em;
  font-family: "Fraunces";
}

.advantages__card:first-child .advantages__card-title {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(167, 40%, 24%);
}

.advantages__card:last-child .advantages__card-title {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(198, 62%, 26%);
}

.advantages__card-text {
  font-family: "Barlow";
  line-height: 1.6;
}

.advantages__card:first-child .advantages__card-text {
  margin: 0;
  color: hsl(167, 40%, 24%);
}

.advantages__card:last-child .advantages__card-text {
  margin: 0;
  color: hsl(198, 62%, 26%);
}

.testimonials {
  padding: 170px 0;
  background-color: rgba(255, 251, 248, 255);
}

.testimonials__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 100px 0;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: rgb(190, 188, 188);
}

.testimonials__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;
}

.testimonials__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  width: 19.5rem;
}

.testimonials__image {
  width: 80px;
  border-radius: 5em;
}

.testimonials__text {
  margin: 0;
  line-height: 1.6;
  color: rgb(95, 94, 94);
}

.testimonials__name {
  margin: 0 0 10px 0;
  color: hsl(212, 27%, 19%);
}

.testimonials__job {
  margin: 0;
  font-size: 13px;
  color: rgba(178, 178, 178, 255);
}

.product-gallery {
  display: flex;
}

.product-gallery__image {
  width: 25%;
}

.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background-color: rgba(144, 212, 197, 255);
}

.footer__logo {
  width: 150px;
}

.footer__services-list {
  padding: 40px 0 80px 0px;
  gap: 60px;
  box-sizing: border-box;
}

.footer__services-link {
  font-family: "Barlow";
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}

.footer__services-link:hover {
  color: #fff;
}

.footer__social-media-list {
  gap: 20px;
}

.footer__image:hover {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 2000px) {
  .hero {
    height: 800px;
    background-position: 0px 900px;
  }

  .advantages__description {
    padding: 0 300px;
  }

  .advantages__text {
    width: 70%;
  }

  .advantages__card {
    height: 1000px;
  }

  .advantages__card-description {
    top: 700px;
  }

  .testimonials__list {
    gap: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .advantages__description {
    padding: 50px 100px;
  }

  .advantages__title {
    font-size: 1.6em;
  }

  .advantages__text {
    font-size: 16px;
  }

  .advantages__link {
    font-size: 14px;
  }

  .advantages__card {
    height: 550px;
  }

  .advantages__card-description {
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21rem;
  }

  .advantages__card-title {
    font-size: 1.5rem;
  }

  .advantages__card-text {
    margin: 0;
  }

  .testimonials__list {
    gap: 0;
  }

  .testimonials__text {
    font-size: 15px;
    width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 35px 25px 0;
  }

  .header__nav {
    margin: 0;
    padding: 0;
  }

  .nav__burger-btn {
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .nav__list {
    display: none;
  }

  .hero {
    height: 470px;
  }

  .hero__title {
    font-size: 2.2rem;
    padding: 80px 0 50px 0;
  }

  .advantages__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__image {
    order: -1;
    width: 100%;
  }

  .advantages__row:first-child .advantages__image {
    order: 0;
  }

  .advantages__description {
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    text-align: center;
    width: 80%;
  }

  .advantages__title {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .advantages__text {
    margin: 20px 0 30px;
    font-size: 16px;
    width: 17.9375rem;
  }

  .advantages__description:last-child .advantages__text {
    box-sizing: border-box;
  }

  .advantages__card {
    width: 100%;
    height: 500px;
  }

  .advantages__card-description {
    bottom: 120px;
    width: 20.125rem;
  }

  .advantages__card-text {
    font-size: 15px;
    margin: 0;
  }

  .testimonials {
    padding: 60px 0;
  }

  .testimonials__title {
    font-size: 13px;
    margin: 0 0 50px;
  }

  .testimonials__list {
    flex-direction: column;
    gap: 70px;
  }

  .testimonials__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    width: 17.25rem;
  }

  .testimonials__text {
    margin: 0;
  }

  .product-gallery {
    flex-wrap: wrap;
  }

  .product-gallery__image {
    width: 50%;
  }
}
